#button-id-320- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 116px; font-weight: 700; }

#button-id-320-:active, #button-id-320-.active { color: rgb(0, 0, 0) !important; }

#button-id-320-:hover, #button-id-320-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-322- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; }

#button-id-322-:active, #button-id-322-.active { color: rgb(0, 0, 0) !important; }

#button-id-322-:hover, #button-id-322-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-324- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; }

#button-id-324-:active, #button-id-324-.active { color: rgb(0, 0, 0) !important; }

#button-id-324-:hover, #button-id-324-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-334- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 116px; font-weight: 700; }

#button-id-334-:active, #button-id-334-.active { color: rgb(0, 0, 0) !important; }

#button-id-334-:hover, #button-id-334-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-336- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; }

#button-id-336-:active, #button-id-336-.active { color: rgb(0, 0, 0) !important; }

#button-id-336-:hover, #button-id-336-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-338- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; }

#button-id-338-:active, #button-id-338-.active { color: rgb(0, 0, 0) !important; }

#button-id-338-:hover, #button-id-338-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-436- { margin: unset; font-size: 15px; line-height: 17px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; border-radius: 100px; border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); font-style: normal; font-weight: 700; padding: 14px; color: rgb(0, 0, 0); background-color: rgb(242, 242, 242); width: 50%; left: 152px; top: 730px; }

#button-id-436-:active, #button-id-436-.active { border-color: rgb(0, 0, 0) !important; color: rgb(0, 0, 0) !important; background-color: rgb(218, 218, 218) !important; }

#button-id-436-:hover, #button-id-436-.hover { border-color: rgb(0, 0, 0); color: rgba(0, 0, 0, 0.7); background-color: rgba(242, 242, 242, 0.7); }

#button-id-458- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); left: 134px; top: 977px; }

#button-id-458-:active, #button-id-458-.active { color: rgb(255, 255, 255) !important; }

#button-id-458-:hover, #button-id-458-.hover { color: rgb(255, 255, 255); }

#button-id-460- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-460-:active, #button-id-460-.active { color: rgb(255, 255, 255) !important; }

#button-id-460-:hover, #button-id-460-.hover { color: rgb(255, 255, 255); }

#button-id-465- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-465-:active, #button-id-465-.active { color: rgb(255, 255, 255) !important; }

#button-id-465-:hover, #button-id-465-.hover { color: rgb(255, 255, 255); }

#button-id-467- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-467-:active, #button-id-467-.active { color: rgb(255, 255, 255) !important; }

#button-id-467-:hover, #button-id-467-.hover { color: rgb(255, 255, 255); }

#button-id-472- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-472-:active, #button-id-472-.active { color: rgb(255, 255, 255) !important; }

#button-id-472-:hover, #button-id-472-.hover { color: rgb(255, 255, 255); }

#button-id-474- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-474-:active, #button-id-474-.active { color: rgb(255, 255, 255) !important; }

#button-id-474-:hover, #button-id-474-.hover { color: rgb(255, 255, 255); }

#container-id-326- { min-height: 100px; margin: unset; background-color: rgb(129, 196, 219); width: 50%; }

#container-id-340- { min-height: 100px; margin: unset; background-color: rgb(129, 196, 219); width: 50%; }

#container-id-424- { min-height: 100px; margin: unset;
  width: 80%;
  left: calc(50% - 960px / 2); background-color: rgb(255, 255, 255); top: 141px; align-items: center; }

#container-id-424- > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-424- > :last-child, #container-id-424- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-433- { padding: 64px; background-color: rgba(0, 0, 0, 0); }

#container-id-433- > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-433- > :last-child, #container-id-433- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-453- { flex-direction: column; align-items: flex-start; justify-content: flex-start; background-color: rgba(0, 0, 0, 0); padding: 80px; }

#container-id-453- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 64px !important; }

#container-id-453- > :last-child, #container-id-453- > .last-child { margin-bottom: 0px !important; }

#container-id-454- { margin: unset; justify-content: space-between; width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto; left: 0px; top: 988px; }

#container-id-455- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; }

#container-id-455- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-455- > :last-child, #container-id-455- > .last-child { margin-bottom: 0px !important; }

#container-id-457- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; flex-direction: column; align-items: flex-start; justify-content: flex-start; min-height: auto; left: 0px; top: 908px; }

#container-id-457- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-457- > :last-child, #container-id-457- > .last-child { margin-bottom: 0px !important; }

#container-id-462- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; left: 413px; top: 1247px; }

#container-id-462- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-462- > :last-child, #container-id-462- > .last-child { margin-bottom: 0px !important; }

#container-id-464- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-464- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-464- > :last-child, #container-id-464- > .last-child { margin-bottom: 0px !important; }

#container-id-469- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; }

#container-id-469- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-469- > :last-child, #container-id-469- > .last-child { margin-bottom: 0px !important; }

#container-id-471- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-471- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-471- > :last-child, #container-id-471- > .last-child { margin-bottom: 0px !important; }

#content-container > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#element-id-386- { color: rgb(0, 0, 0); }

#element-id-387- { color: rgb(217, 115, 115); }

#element-id-426- { width: 100%; }

#form-id-438- { margin: unset; min-height: auto;
  width: 50%; border-radius: 56px;
  left: calc(60.41666666666667% - 480px / 2); top: 10px; background-color: rgba(39, 183, 185, 0.06); }

#image-id-425- { margin: unset; background-color: rgb(221, 221, 221); min-height: auto;
  width: 50%;
  left: calc(20.083333333333332% - 480px / 2); top: 129px; }

#input-id-434- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; border-radius: 20px; left: 125px; top: 40px; }

#input-id-434-:focus, #input-id-434-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-440- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; left: 125px; border-radius: 20px; top: 118px; }

#input-id-440-:focus, #input-id-440-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-442- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; left: 126px; border-radius: 20px; top: 196px; }

#input-id-442-:focus, #input-id-442-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-444- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; left: 129px; border-radius: 20px; top: 278px; }

#input-id-444-:focus, #input-id-444-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-446- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; border-radius: 20px; left: 130px; top: 361px; }

#input-id-446-:focus, #input-id-446-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-448- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; left: 131px; top: 450px; border-radius: 20px; }

#input-id-448-:focus, #input-id-448-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-450- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; border-radius: 20px; left: 129px; top: 538px; }

#input-id-450-:focus, #input-id-450-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-452- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; text-align: left; padding: 22px; border-radius: 20px; left: 129px; top: 619px; }

#input-id-452-:focus, #input-id-452-.focus { border-color: rgb(1, 122, 255) !important; }

#nav-id-294- { margin: unset; background-color: rgb(238, 238, 238); min-height: 80px; width: 100%; }

#root-container { background-position: center center; background-color: rgb(255, 255, 255); }

#section-id-477- { margin: unset; min-height: 280px; background-color: rgb(24, 24, 24);
  width: 100%; left: 0px; top: 994px; }

#section-id-477- > * { max-width: 1320px; }

#text-id-380- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; font-size: 30px; font-weight: 800; font-style: normal; font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 35%; text-align: center; top: 65px;
  left: calc(29.083333333333332% - 420px / 2); }

#text-id-401- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; font-size: 30px; font-weight: 800; font-style: normal; font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 35%; text-align: center;
  left: calc(64.83333333333333% - 420px / 2); top: 80px; }

#text-id-456- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-463- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-470- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-476- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); letter-spacing: 0px; line-height: 15.75px; font-size: 14px; font-weight: 500; font-style: normal; }

@media (min-width:1025px) {#button-id-320- { min-height: 77px; }

#button-id-322- { min-height: 77px; }

#button-id-324- { min-height: 77px; }

#button-id-334- { min-height: 77px; }

#button-id-336- { min-height: 77px; }

#button-id-338- { min-height: 77px; }

#container-id-326- { min-height: 80px; }

#container-id-340- { min-height: 80px; }

#container-id-424- { position: relative; display: block; min-height: 846px; }

#container-id-424- > * { position: absolute; }

#container-id-433- { position: relative; display: block; }

#container-id-433- > * { position: absolute; }

#container-id-453- > * { position: static; }

#container-id-455- > * { position: static; }

#container-id-457- > * { position: static; }

#container-id-462- > * { position: static; }

#container-id-464- > * { position: static; }

#container-id-469- > * { position: static; }

#container-id-471- > * { position: static; }

#content-container { position: relative; display: block; }

#content-container > * { position: absolute; }

#form-id-438- { min-height: 841px; }

#image-id-425- { min-height: 410px; }

#input-id-434- { min-height: 52px; }

#input-id-440- { min-height: 55px; }

#input-id-442- { min-height: 55px; }

#input-id-444- { min-height: 55px; }

#input-id-446- { min-height: 55px; }

#input-id-448- { min-height: 55px; }

#input-id-450- { min-height: 55px; }

#input-id-452- { min-height: 55px; }

#text-id-380- { line-height: 32px; }

#text-id-401- { line-height: 32px; }}

@media (min-width:641px) and (max-width:1024px) {#container-id-453- { padding: 56px; }

#container-id-453- > * { margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-453- > :last-child, #container-id-453- > .last-child { margin-bottom: 0px !important; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }}

@media (max-width:640px) {#container-id-453- { align-items: center; padding: 48px 24px; }

#container-id-453- > * { margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-453- > :last-child, #container-id-453- > .last-child { margin-bottom: 0px !important; }

#container-id-454- { flex-direction: column; justify-content: flex-start; align-items: center; }

#container-id-454- > * { position: static; max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-454- > :last-child, #container-id-454- > .last-child { margin-bottom: 0px !important; }

#container-id-455- { align-items: center; }

#container-id-455- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-455- > :last-child, #container-id-455- > .last-child { margin-right: 0px !important; }

#container-id-457- { align-items: center; min-height: auto; }

#container-id-462- { align-items: center; }

#container-id-462- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-462- > :last-child, #container-id-462- > .last-child { margin-right: 0px !important; }

#container-id-464- { align-items: center; }

#container-id-469- { align-items: center; }

#container-id-469- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-469- > :last-child, #container-id-469- > .last-child { margin-right: 0px !important; }

#container-id-471- { align-items: center; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#text-id-476- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }}