#button-id-12- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-12-:active, #button-id-12-.active { color: rgb(255, 255, 255) !important; }

#button-id-12-:hover, #button-id-12-.hover { color: rgb(255, 255, 255); }

#button-id-14- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-14-:active, #button-id-14-.active { color: rgb(255, 255, 255) !important; }

#button-id-14-:hover, #button-id-14-.hover { color: rgb(255, 255, 255); }

#button-id-20- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-20-:active, #button-id-20-.active { color: rgb(255, 255, 255) !important; }

#button-id-20-:hover, #button-id-20-.hover { color: rgb(255, 255, 255); }

#button-id-22- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-22-:active, #button-id-22-.active { color: rgb(255, 255, 255) !important; }

#button-id-22-:hover, #button-id-22-.hover { color: rgb(255, 255, 255); }

#button-id-5- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); left: 134px; top: 977px; }

#button-id-5-:active, #button-id-5-.active { color: rgb(255, 255, 255) !important; }

#button-id-5-:hover, #button-id-5-.hover { color: rgb(255, 255, 255); }

#button-id-596- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 116px; font-weight: 700; }

#button-id-596-:active, #button-id-596-.active { color: rgb(0, 0, 0) !important; }

#button-id-596-:hover, #button-id-596-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-598- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; }

#button-id-598-:active, #button-id-598-.active { color: rgb(0, 0, 0) !important; }

#button-id-598-:hover, #button-id-598-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-600- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; }

#button-id-600-:active, #button-id-600-.active { color: rgb(0, 0, 0) !important; }

#button-id-600-:hover, #button-id-600-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-610- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 116px; font-weight: 700; }

#button-id-610-:active, #button-id-610-.active { color: rgb(0, 0, 0) !important; }

#button-id-610-:hover, #button-id-610-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-612- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; }

#button-id-612-:active, #button-id-612-.active { color: rgb(0, 0, 0) !important; }

#button-id-612-:hover, #button-id-612-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-614- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; }

#button-id-614-:active, #button-id-614-.active { color: rgb(0, 0, 0) !important; }

#button-id-614-:hover, #button-id-614-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-686- { margin: unset; font-size: 15px; line-height: 17px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; border-radius: 100px; border-style: solid; border-width: 1px; border-color: rgb(0, 0, 0); font-style: normal; font-weight: 700; padding: 14px; color: rgb(0, 0, 0); background-color: rgb(242, 242, 242); width: 50%; left: 123px; top: 509px; }

#button-id-686-:active, #button-id-686-.active { border-color: rgb(0, 0, 0) !important; color: rgb(0, 0, 0) !important; background-color: rgb(218, 218, 218) !important; }

#button-id-686-:hover, #button-id-686-.hover { border-color: rgb(0, 0, 0); color: rgba(0, 0, 0, 0.7); background-color: rgba(242, 242, 242, 0.7); }

#button-id-7- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-7-:active, #button-id-7-.active { color: rgb(255, 255, 255) !important; }

#button-id-7-:hover, #button-id-7-.hover { color: rgb(255, 255, 255); }

#container-id-0- { flex-direction: column; align-items: flex-start; justify-content: flex-start; background-color: rgba(0, 0, 0, 0); padding: 80px; }

#container-id-0- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 64px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-bottom: 0px !important; }

#container-id-1- { margin: unset; justify-content: space-between; width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto; left: 0px; top: 988px; }

#container-id-11- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-11- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-11- > :last-child, #container-id-11- > .last-child { margin-bottom: 0px !important; }

#container-id-16- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; }

#container-id-16- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-16- > :last-child, #container-id-16- > .last-child { margin-bottom: 0px !important; }

#container-id-19- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-19- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-19- > :last-child, #container-id-19- > .last-child { margin-bottom: 0px !important; }

#container-id-2- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; }

#container-id-2- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-2- > :last-child, #container-id-2- > .last-child { margin-bottom: 0px !important; }

#container-id-4- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; flex-direction: column; align-items: flex-start; justify-content: flex-start; min-height: auto; left: 0px; top: 908px; }

#container-id-4- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-bottom: 0px !important; }

#container-id-587- { background-color: rgba(0, 0, 0, 0); }

#container-id-602- { min-height: 100px; margin: unset; background-color: rgb(129, 196, 219); width: 50%; }

#container-id-616- { min-height: 100px; margin: unset; background-color: rgb(129, 196, 219); width: 50%; }

#container-id-666- { min-height: 100px; margin: unset;
  left: calc(50% - 1080px / 2);
  width: 90%; background-color: rgb(221, 221, 221); top: 179px; flex-direction: row; align-items: center; justify-content: center; }

#container-id-666- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-666- > :last-child, #container-id-666- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-682- { padding: 64px; background-color: rgba(0, 0, 0, 0); }

#container-id-682- > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-682- > :last-child, #container-id-682- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-9- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; left: 413px; top: 1247px; }

#container-id-9- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-9- > :last-child, #container-id-9- > .last-child { margin-bottom: 0px !important; }

#content-container > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#element-id-621- { color: rgb(217, 63, 63); }

#element-id-625- { color: rgb(194, 76, 76); }

#element-id-668- { width: 100%; }

#form-id-688- { margin: unset; min-height: auto; width: 50%; border-radius: 56px; background-color: rgba(185, 166, 39, 0.06); }

#image-id-667- { margin: unset; background-color: rgb(221, 221, 221); width: 50%; min-height: auto; }

#input-id-683- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; border-radius: 20px; left: 110px; top: 230px; }

#input-id-683-:focus, #input-id-683-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-684- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; border-radius: 20px; left: 109px; top: 58px; }

#input-id-684-:focus, #input-id-684-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-685- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; border-radius: 20px; left: 110px; top: 142px; }

#input-id-685-:focus, #input-id-685-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-690- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; border-radius: 20px; left: 113px; top: 317px; }

#input-id-690-:focus, #input-id-690-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-692- { margin: unset; border: 2px solid rgb(5, 5, 5); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 60%; padding: 21px; text-align: left; border-radius: 20px; left: 116px; top: 400px; }

#input-id-692-:focus, #input-id-692-.focus { border-color: rgb(1, 122, 255) !important; }

#nav-id-586- { margin: unset; min-height: 80px; width: 100%; background-color: rgb(237, 237, 237); }

#root-container { background-position: center center; background-color: rgb(221, 221, 221); }

#section-id-25- { margin: unset; min-height: 280px; background-color: rgb(24, 24, 24);
  width: 100%; left: 0px; top: 827px; }

#section-id-25- > * { max-width: 1320px; }

#text-id-10- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-17- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-24- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); letter-spacing: 0px; line-height: 15.75px; font-size: 14px; font-weight: 500; font-style: normal; }

#text-id-3- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-624- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; font-size: 30px; font-weight: 700; font-style: normal; font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; text-align: center;
  left: calc(50% - 1140px / 2);
  width: 95%; top: 42px; }

@media (min-width:1025px) {#button-id-596- { min-height: 77px; }

#button-id-598- { min-height: 77px; }

#button-id-600- { min-height: 77px; }

#button-id-610- { min-height: 77px; }

#button-id-612- { min-height: 77px; }

#button-id-614- { min-height: 77px; }

#container-id-0- > * { position: static; }

#container-id-11- > * { position: static; }

#container-id-16- > * { position: static; }

#container-id-19- > * { position: static; }

#container-id-2- > * { position: static; }

#container-id-4- > * { position: static; }

#container-id-602- { min-height: 80px; }

#container-id-616- { min-height: 80px; }

#container-id-666- { min-height: 616px; }

#container-id-682- { position: relative; display: block; }

#container-id-682- > * { position: absolute; }

#container-id-9- > * { position: static; }

#content-container { position: relative; display: block; }

#content-container > * { position: absolute; }

#form-id-688- { min-height: 593px; }

#image-id-667- { min-height: 328px; }

#input-id-683- { min-height: 55px; }

#input-id-684- { min-height: 52px; }

#input-id-685- { min-height: 55px; }

#input-id-690- { min-height: 55px; }

#input-id-692- { min-height: 55px; }

#text-id-624- { line-height: 44px; }}

@media (min-width:641px) and (max-width:1024px) {#container-id-0- { padding: 56px; }

#container-id-0- > * { margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-bottom: 0px !important; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }}

@media (max-width:640px) {#container-id-0- { align-items: center; padding: 48px 24px; }

#container-id-0- > * { margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-bottom: 0px !important; }

#container-id-1- { flex-direction: column; justify-content: flex-start; align-items: center; }

#container-id-1- > * { position: static; max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-1- > :last-child, #container-id-1- > .last-child { margin-bottom: 0px !important; }

#container-id-11- { align-items: center; }

#container-id-16- { align-items: center; }

#container-id-16- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-16- > :last-child, #container-id-16- > .last-child { margin-right: 0px !important; }

#container-id-19- { align-items: center; }

#container-id-2- { align-items: center; }

#container-id-2- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-2- > :last-child, #container-id-2- > .last-child { margin-right: 0px !important; }

#container-id-4- { align-items: center; min-height: auto; }

#container-id-9- { align-items: center; }

#container-id-9- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-9- > :last-child, #container-id-9- > .last-child { margin-right: 0px !important; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#text-id-24- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }}