#button-id-141- { margin: unset; font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; font-weight: 700; text-decoration: underline; top: 40px;
  left: calc(44.58333333333333% - 84px / 2); color: rgb(19, 1, 1); }

#button-id-141-:active, #button-id-141-.active { color: rgb(19, 1, 1) !important; }

#button-id-141-:hover, #button-id-141-.hover { color: rgba(19, 1, 1, 0.7); }

#button-id-147- { margin: unset; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; letter-spacing: 0px; font-size: 30px; font-weight: 700; font-style: normal;
  left: calc(35.50000000000001% - 106px / 2); top: 110px; color: rgb(56, 0, 0); }

#button-id-147-:active, #button-id-147-.active { color: rgb(56, 0, 0) !important; }

#button-id-147-:hover, #button-id-147-.hover { color: rgba(56, 0, 0, 0.7); }

#button-id-15- { margin: unset; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; font-weight: 700; color: rgb(171, 84, 84); letter-spacing: 0px; font-size: 25px; width: 155px; }

#button-id-15-:active, #button-id-15-.active { color: rgb(171, 84, 84) !important; }

#button-id-15-:hover, #button-id-15-.hover { color: rgba(171, 84, 84, 0.7); }

#button-id-150- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; padding: 6px 12px; min-height: 36px; border-radius: 89px;
  width: 26%; font-weight: 700; background-color: rgba(235, 234, 234, 0.6); border-color: rgb(13, 12, 12);
  left: calc(34.416666666666664% - 312px / 2); top: 321px; }

#button-id-150-:active, #button-id-150-.active { color: rgb(0, 0, 0) !important; background-color: rgba(212, 211, 211, 0.6) !important; border-color: rgb(13, 12, 12) !important; }

#button-id-150-:hover, #button-id-150-.hover { color: rgba(0, 0, 0, 0.5); background-color: rgba(235, 234, 234, 0.42); border-color: rgb(13, 12, 12); }

#button-id-169- { margin: unset; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; text-align: right; width: 30%; font-weight: 700; font-style: normal; letter-spacing: 0px; font-size: 20px; color: rgb(255, 255, 255); }

#button-id-169-:active, #button-id-169-.active { color: rgb(255, 255, 255) !important; }

#button-id-169-:hover, #button-id-169-.hover { color: rgba(255, 255, 255, 0.7); }

#button-id-190- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; border-style: solid; border-width: 1px; font-family: arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; text-align: center; line-height: 20px; padding: 12px 24px; }

#button-id-190-:active, #button-id-190-.active { color: rgb(0, 0, 0) !important; }

#button-id-190-:hover, #button-id-190-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-199- { margin: unset; color: rgb(0, 0, 0); border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; border-style: solid; border-width: 1px; letter-spacing: 0px; font-size: 16px; text-align: center; padding: 12px 24px; line-height: 20px; }

#button-id-199-:active, #button-id-199-.active { color: rgb(0, 0, 0) !important; }

#button-id-199-:hover, #button-id-199-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-20- { margin: unset; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 119px; font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 0px; font-size: 20px; }

#button-id-20-:active, #button-id-20-.active { color: rgb(255, 255, 255) !important; }

#button-id-20-:hover, #button-id-20-.hover { color: rgba(255, 255, 255, 0.7); }

#button-id-208- { margin: unset; color: rgb(0, 0, 0); border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; border-style: solid; border-width: 1px; letter-spacing: 0px; font-size: 16px; text-align: center; padding: 12px 24px; line-height: 20px; }

#button-id-208-:active, #button-id-208-.active { color: rgb(0, 0, 0) !important; }

#button-id-208-:hover, #button-id-208-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-21- { margin: unset; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; width: 30%; letter-spacing: 0px; font-size: 20px; text-align: right; font-weight: 700; font-style: normal; color: rgb(255, 255, 255); }

#button-id-21-:active, #button-id-21-.active { color: rgb(255, 255, 255) !important; }

#button-id-21-:hover, #button-id-21-.hover { color: rgba(255, 255, 255, 0.7); }

#button-id-219- { margin: unset; color: rgb(0, 0, 0); border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; border-style: solid; border-width: 1px; letter-spacing: 0px; font-size: 16px; text-align: center; padding: 12px 24px; line-height: 20px; }

#button-id-219-:active, #button-id-219-.active { color: rgb(0, 0, 0) !important; }

#button-id-219-:hover, #button-id-219-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-241- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); left: 134px; top: 977px; }

#button-id-241-:active, #button-id-241-.active { color: rgb(255, 255, 255) !important; }

#button-id-241-:hover, #button-id-241-.hover { color: rgb(255, 255, 255); }

#button-id-243- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-243-:active, #button-id-243-.active { color: rgb(255, 255, 255) !important; }

#button-id-243-:hover, #button-id-243-.hover { color: rgb(255, 255, 255); }

#button-id-248- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-248-:active, #button-id-248-.active { color: rgb(255, 255, 255) !important; }

#button-id-248-:hover, #button-id-248-.hover { color: rgb(255, 255, 255); }

#button-id-250- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-250-:active, #button-id-250-.active { color: rgb(255, 255, 255) !important; }

#button-id-250-:hover, #button-id-250-.hover { color: rgb(255, 255, 255); }

#button-id-255- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-255-:active, #button-id-255-.active { color: rgb(255, 255, 255) !important; }

#button-id-255-:hover, #button-id-255-.hover { color: rgb(255, 255, 255); }

#button-id-257- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-257-:active, #button-id-257-.active { color: rgb(255, 255, 255) !important; }

#button-id-257-:hover, #button-id-257-.hover { color: rgb(255, 255, 255); }

#button-id-40- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); left: 134px; top: 977px; }

#button-id-40-:active, #button-id-40-.active { color: rgb(255, 255, 255) !important; }

#button-id-40-:hover, #button-id-40-.hover { color: rgb(255, 255, 255); }

#button-id-42- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-42-:active, #button-id-42-.active { color: rgb(255, 255, 255) !important; }

#button-id-42-:hover, #button-id-42-.hover { color: rgb(255, 255, 255); }

#button-id-47- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-47-:active, #button-id-47-.active { color: rgb(255, 255, 255) !important; }

#button-id-47-:hover, #button-id-47-.hover { color: rgb(255, 255, 255); }

#button-id-49- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-49-:active, #button-id-49-.active { color: rgb(255, 255, 255) !important; }

#button-id-49-:hover, #button-id-49-.hover { color: rgb(255, 255, 255); }

#button-id-54- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-54-:active, #button-id-54-.active { color: rgb(255, 255, 255) !important; }

#button-id-54-:hover, #button-id-54-.hover { color: rgb(255, 255, 255); }

#button-id-56- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-56-:active, #button-id-56-.active { color: rgb(255, 255, 255) !important; }

#button-id-56-:hover, #button-id-56-.hover { color: rgb(255, 255, 255); }

#button-id-67- { margin: unset; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; font-weight: 700; letter-spacing: 0px; font-size: 20px; width: 138px; color: rgb(255, 255, 255); }

#button-id-67-:active, #button-id-67-.active { color: rgb(255, 255, 255) !important; }

#button-id-67-:hover, #button-id-67-.hover { color: rgba(255, 255, 255, 0.7); }

#button-id-79- { margin: unset; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; min-height: 36px; text-align: right; width: 30%; font-weight: 700; font-style: normal; letter-spacing: 0px; font-size: 20px; color: rgb(255, 255, 255); }

#button-id-79-:active, #button-id-79-.active { color: rgb(255, 255, 255) !important; }

#button-id-79-:hover, #button-id-79-.hover { color: rgba(255, 255, 255, 0.7); }

#container-id-12- { min-height: 100px; margin: unset; background-color: rgb(129, 196, 219); width: 50%; }

#container-id-134- { padding: 64px; background-color: rgba(0, 0, 0, 0); }

#container-id-134- > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-134- > :last-child, #container-id-134- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-14- { min-height: 100px; margin: unset; background-color: rgb(129, 196, 219); width: 50%; }

#container-id-182- { background-color: rgba(0, 0, 0, 0); width: 100%; flex-direction: row; padding: 40px 80px; justify-content: center; }

#container-id-182- > * { max-width: 100%; margin-right: 20px !important; margin-bottom: 0px !important; }

#container-id-182- > :last-child, #container-id-182- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-183- { margin: unset; align-items: center; background-color: rgb(255, 255, 255); border: 2px solid rgb(217, 217, 217); border-radius: 16px; flex-direction: column; padding: 56px 40px; justify-content: center; min-height: 400px; width: 320px; }

#container-id-183- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-183- > :last-child, #container-id-183- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-186- { margin: unset; top: 0px; min-height: auto; background-color: rgba(238, 238, 238, 0); width: auto; align-items: center; flex-direction: row; left: 0px; }

#container-id-186- > * { max-width: 100%; margin-right: 4px !important; margin-bottom: 0px !important; }

#container-id-186- > :last-child, #container-id-186- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-192- { margin: unset; align-items: center; background-color: rgb(255, 255, 255); border: 2px solid rgb(217, 217, 217); border-radius: 16px; flex-direction: column; padding: 56px 40px; min-height: 400px; justify-content: center; width: 320px; }

#container-id-192- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-192- > :last-child, #container-id-192- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-195- { margin: unset; top: 0px; min-height: auto; background-color: rgba(238, 238, 238, 0); width: auto; align-items: center; flex-direction: row; }

#container-id-195- > * { max-width: 100%; margin-right: 4px !important; margin-bottom: 0px !important; }

#container-id-195- > :last-child, #container-id-195- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-201- { margin: unset; align-items: center; background-color: rgb(255, 255, 255); border: 2px solid rgb(217, 217, 217); border-radius: 16px; flex-direction: column; padding: 56px 40px; min-height: 400px; justify-content: center; width: 320px; }

#container-id-201- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-201- > :last-child, #container-id-201- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-204- { margin: unset; top: 0px; min-height: auto; background-color: rgba(238, 238, 238, 0); width: auto; align-items: center; flex-direction: row; left: 0px; }

#container-id-204- > * { max-width: 100%; margin-right: 4px !important; margin-bottom: 0px !important; }

#container-id-204- > :last-child, #container-id-204- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-221- { margin: unset; top: 0px; min-height: auto; background-color: rgba(238, 238, 238, 0); width: auto; align-items: center; flex-direction: row; left: 0px; }

#container-id-221- > * { max-width: 100%; margin-right: 4px !important; margin-bottom: 0px !important; }

#container-id-221- > :last-child, #container-id-221- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-223- { margin: unset; align-items: center; background-color: rgb(255, 255, 255); border: 2px solid rgb(217, 217, 217); border-radius: 16px; flex-direction: column; padding: 56px 40px; min-height: 400px; justify-content: center; width: 320px; }

#container-id-223- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-223- > :last-child, #container-id-223- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-236- { flex-direction: column; align-items: flex-start; justify-content: flex-start; background-color: rgba(0, 0, 0, 0); padding: 80px; }

#container-id-236- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 64px !important; }

#container-id-236- > :last-child, #container-id-236- > .last-child { margin-bottom: 0px !important; }

#container-id-237- { margin: unset; justify-content: space-between; width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto; left: 0px; top: 988px; }

#container-id-238- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; }

#container-id-238- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-238- > :last-child, #container-id-238- > .last-child { margin-bottom: 0px !important; }

#container-id-240- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; flex-direction: column; align-items: flex-start; justify-content: flex-start; min-height: auto; left: 0px; top: 908px; }

#container-id-240- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-240- > :last-child, #container-id-240- > .last-child { margin-bottom: 0px !important; }

#container-id-245- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; left: 413px; top: 1247px; }

#container-id-245- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-245- > :last-child, #container-id-245- > .last-child { margin-bottom: 0px !important; }

#container-id-247- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-247- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-247- > :last-child, #container-id-247- > .last-child { margin-bottom: 0px !important; }

#container-id-252- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; }

#container-id-252- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-252- > :last-child, #container-id-252- > .last-child { margin-bottom: 0px !important; }

#container-id-254- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-254- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-254- > :last-child, #container-id-254- > .last-child { margin-bottom: 0px !important; }

#container-id-35- { margin: unset;
  width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto;
  left: calc(105.33333333333333% - 1200px / 2); top: 658px; }

#container-id-35- > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-35- > :last-child, #container-id-35- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-37- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start;
  width: 10%; min-height: auto;
  left: calc(50% - 120px / 2); top: 0px; }

#container-id-37- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-37- > :last-child, #container-id-37- > .last-child { margin-bottom: 0px !important; }

#container-id-39- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; flex-direction: column; align-items: flex-start; justify-content: flex-start; min-height: auto; left: 0px; top: 908px; }

#container-id-39- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-39- > :last-child, #container-id-39- > .last-child { margin-bottom: 0px !important; }

#container-id-44- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start;
  width: 10%; min-height: auto;
  left: calc(50% - 120px / 2); top: 0px; }

#container-id-44- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-44- > :last-child, #container-id-44- > .last-child { margin-bottom: 0px !important; }

#container-id-46- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-46- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-46- > :last-child, #container-id-46- > .last-child { margin-bottom: 0px !important; }

#container-id-51- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start;
  width: 10%; min-height: auto;
  left: calc(50% - 120px / 2); top: 0px; }

#container-id-51- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-51- > :last-child, #container-id-51- > .last-child { margin-bottom: 0px !important; }

#container-id-53- { margin: unset; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; }

#container-id-53- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-53- > :last-child, #container-id-53- > .last-child { margin-bottom: 0px !important; }

#content-container > * { max-width: unset; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#element-id-33- { width: 100%; }

#form-id-139- { margin: unset; min-height: auto;
  left: calc(50.041666666666664% - 857px / 2); top: 46px;
  width: 71.41666666666666%; background-color: rgba(221, 221, 221, 0); }

#image-id-32- { margin: unset; min-height: auto; left: 0px; top: 0px; background-color: rgb(150, 200, 225); border-radius: 0px;
  width: 100%; border-style: solid none none; border-color: rgb(193, 78, 78); border-width: 5px; }

#input-id-136- { margin: unset; border: 2px solid rgb(0, 0, 0); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; border-radius: 88px; padding: 13px; background-color: rgba(255, 255, 255, 0); top: 186px;
  left: calc(35.416666666666664% - 484px / 2);
  width: 40.33333333333333%; }

#input-id-136-:focus, #input-id-136-.focus { border-color: rgb(1, 122, 255) !important; }

#input-id-149- { margin: unset; border: 2px solid rgb(0, 0, 0); font-size: 14px; line-height: 16px; min-height: 40px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; border-radius: 87px; padding: 13px; background-color: rgba(255, 255, 255, 0);
  left: calc(35.41666666666667% - 488px / 2); top: 257px;
  width: 40.666666666666664%; }

#input-id-149-:focus, #input-id-149-.focus { border-color: rgb(1, 122, 255) !important; }

#nav-id-0- { margin: unset; background-color: rgb(238, 238, 238); min-height: 80px; width: 100%; }

#root-container { background-position: center center; background-color: rgb(254, 251, 251); }

#section-id-210- { margin: unset;
  width: 100%; background-color: rgba(0, 0, 0, 0); left: 0px; top: 891px; border-width: 1px; border-style: none; }

#section-id-210- > * { max-width: 1320px; }

#section-id-260- { margin: unset; min-height: 280px; background-color: rgb(24, 24, 24);
  width: 100%; left: 0px; top: 1445px; }

#section-id-260- > * { max-width: 1320px; }

#text-id-140- { margin: unset; background-color: rgba(255, 255, 255, 0);
  left: calc(30.541666666666668% - 169px / 2); top: 49px; }

#text-id-184- { margin: unset; background-color: rgba(0, 0, 0, 0); top: -9px; font-weight: 700; font-style: normal; letter-spacing: 0px; line-height: 24.75px; font-size: 22px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: auto; }

#text-id-187- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; line-height: 36px; font-size: 32px; font-weight: 400; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#text-id-193- { margin: unset; background-color: rgba(0, 0, 0, 0); top: -9px; font-weight: 700; font-style: normal; letter-spacing: 0px; line-height: 24.75px; font-size: 22px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: auto; }

#text-id-196- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; line-height: 36px; font-size: 32px; font-weight: 400; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#text-id-202- { margin: unset; background-color: rgba(0, 0, 0, 0); top: -9px; font-weight: 700; font-style: normal; letter-spacing: 0px; line-height: 24.75px; font-size: 22px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: auto; }

#text-id-205- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; line-height: 36px; font-size: 32px; font-weight: 400; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#text-id-211- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 0px;
  width: 100%; text-align: center; letter-spacing: 0px; font-size: 35px; font-weight: 800; font-style: normal; top: 832px; }

#text-id-218- { margin: unset; background-color: rgba(0, 0, 0, 0); top: -9px; font-weight: 700; font-style: normal; letter-spacing: 0px; line-height: 24.75px; font-size: 22px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; width: 233px; text-align: center; }

#text-id-222- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: 0px; line-height: 36px; font-size: 32px; font-weight: 400; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#text-id-239- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-246- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-253- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-259- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); letter-spacing: 0px; line-height: 15.75px; font-size: 14px; font-weight: 500; font-style: normal; text-align: left; }

#text-id-38- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-45- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

#text-id-52- { margin: unset; background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; font-style: normal; left: 165px; top: 880px; }

@media (min-width:1025px) {#button-id-147- { line-height: 32px; }

#button-id-15- { min-height: 77px; line-height: 27px; }

#button-id-150- { min-height: 46px; }

#button-id-169- { min-height: 77px; line-height: 26px; }

#button-id-20- { min-height: 77px; line-height: 22px; }

#button-id-21- { min-height: 77px; line-height: 22px; }

#button-id-67- { min-height: 77px; line-height: 22px; }

#button-id-79- { min-height: 77px; line-height: 26px; }

#container-id-12- { min-height: 80px; }

#container-id-134- { position: relative; display: block; }

#container-id-134- > * { position: absolute; }

#container-id-14- { min-height: 80px; }

#container-id-236- > * { position: static; }

#container-id-237- { min-height: 16px; }

#container-id-238- > * { position: static; }

#container-id-240- > * { position: static; }

#container-id-245- > * { position: static; }

#container-id-247- > * { position: static; }

#container-id-252- > * { position: static; }

#container-id-254- > * { position: static; }

#container-id-35- { position: relative; display: block; }

#container-id-35- > * { position: absolute; }

#container-id-37- > * { position: static; }

#container-id-39- > * { position: static; }

#container-id-44- > * { position: static; }

#container-id-46- > * { position: static; }

#container-id-51- > * { position: static; }

#container-id-53- > * { position: static; }

#content-container { position: relative; display: block; }

#content-container > * { position: absolute; }

#form-id-139- { min-height: 578px; }

#text-id-211- { line-height: 59px; }}

@media (min-width:641px) and (max-width:1024px) {#container-id-182- { flex-direction: row; padding: 40px 48px; }

#container-id-182- > * { max-width: 100%; margin-right: 16px !important; margin-bottom: 0px !important; }

#container-id-182- > :last-child, #container-id-182- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-183- { flex-direction: column; padding: 40px 24px; }

#container-id-183- > * { max-width: 100%; }

#container-id-186- { flex-direction: row; }

#container-id-186- > * { max-width: 100%; }

#container-id-192- { flex-direction: column; padding: 40px 24px; }

#container-id-192- > * { max-width: 100%; }

#container-id-195- { flex-direction: row; }

#container-id-195- > * { max-width: 100%; }

#container-id-201- { flex-direction: column; padding: 40px 24px; }

#container-id-201- > * { max-width: 100%; }

#container-id-204- { flex-direction: row; }

#container-id-204- > * { max-width: 100%; }

#container-id-221- { flex-direction: row; }

#container-id-221- > * { max-width: 100%; }

#container-id-223- { flex-direction: column; padding: 40px 24px; }

#container-id-223- > * { max-width: 100%; }

#container-id-236- { padding: 56px; }

#container-id-236- > * { margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-236- > :last-child, #container-id-236- > .last-child { margin-bottom: 0px !important; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#text-id-184- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-187- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-193- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-196- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-202- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-205- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-218- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-222- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }}

@media (max-width:640px) {#container-id-182- { align-items: flex-start; justify-content: flex-start; flex-direction: column; padding: 40px 24px; }

#container-id-182- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-182- > :last-child, #container-id-182- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-183- { width: 100%; flex-direction: column; min-height: auto; padding: 40px; }

#container-id-183- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-183- > :last-child, #container-id-183- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-186- { flex-direction: row; }

#container-id-186- > * { max-width: 100%; }

#container-id-192- { width: 100%; flex-direction: column; min-height: auto; padding: 40px; }

#container-id-192- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-192- > :last-child, #container-id-192- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-195- { flex-direction: row; }

#container-id-195- > * { max-width: 100%; }

#container-id-201- { width: 100%; flex-direction: column; min-height: 320px; padding: 40px; }

#container-id-201- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-201- > :last-child, #container-id-201- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-204- { flex-direction: row; }

#container-id-204- > * { max-width: 100%; }

#container-id-221- { flex-direction: row; }

#container-id-221- > * { max-width: 100%; }

#container-id-223- { width: 100%; flex-direction: column; min-height: 320px; padding: 40px; }

#container-id-223- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-223- > :last-child, #container-id-223- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-236- { align-items: center; padding: 48px 24px; }

#container-id-236- > * { margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-236- > :last-child, #container-id-236- > .last-child { margin-bottom: 0px !important; }

#container-id-237- { flex-direction: column; justify-content: flex-start; align-items: center; }

#container-id-237- > * { position: static; max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-237- > :last-child, #container-id-237- > .last-child { margin-bottom: 0px !important; }

#container-id-238- { align-items: center; }

#container-id-238- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-238- > :last-child, #container-id-238- > .last-child { margin-right: 0px !important; }

#container-id-240- { align-items: center; min-height: auto; }

#container-id-245- { align-items: center; }

#container-id-245- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-245- > :last-child, #container-id-245- > .last-child { margin-right: 0px !important; }

#container-id-247- { align-items: center; }

#container-id-252- { align-items: center; }

#container-id-252- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-252- > :last-child, #container-id-252- > .last-child { margin-right: 0px !important; }

#container-id-254- { align-items: center; }

#container-id-35- { flex-direction: column; justify-content: flex-start; align-items: center; }

#container-id-35- > * { position: static; max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-35- > :last-child, #container-id-35- > .last-child { margin-bottom: 0px !important; }

#container-id-37- { align-items: center; }

#container-id-37- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-37- > :last-child, #container-id-37- > .last-child { margin-right: 0px !important; }

#container-id-39- { align-items: center; min-height: auto; }

#container-id-44- { align-items: center; }

#container-id-44- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-44- > :last-child, #container-id-44- > .last-child { margin-right: 0px !important; }

#container-id-46- { align-items: center; }

#container-id-51- { align-items: center; }

#container-id-51- > * { margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-51- > :last-child, #container-id-51- > .last-child { margin-right: 0px !important; }

#container-id-53- { align-items: center; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#text-id-184- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-187- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-193- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-196- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-202- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-205- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-218- { letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#text-id-222- { letter-spacing: 0px; line-height: 31.5px; font-size: 28px; }

#text-id-259- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }}